/// <reference path="../globals/_scut.scss" />
/// <reference path="../globals/_variables.scss" />
.home-banner {
  position: relative;
  .caption {
  	width: 380px;
  	background-color: $color-primary;
  	color: #fff;
  	padding: 20px 42px;
  	position: absolute;
  	top: 52%;
  	left: 0;
  	font-size: 18px;
  }
  h5 {
  	font-weight: 600;
  	font-size: 16px;
  }
  img {
    width: 100%;
  }
}