%html
  %head
    %title Kingsmen
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700|Work+Sans:300,400,500,600,700", rel:"stylesheet"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/jquery-daterange/daterangepicker.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body.home
    %header.container-fluid
      .row.space-0
        .col-sm-3
          %a.logo{href:"/"}
            %img.img-responsive{src:"assets/images/logo-kingsmen.png"}
        .col-sm-9
          .row.space-0.filter-panel.booking-panel
            .filter-heading.hide-md
              %a.btn-back{href:"#", data-action:"filter-prev"} < Back to Calendar
              %a.btn-reset{href:"#", data-action:"filter-reset"} Reset
              %a.btn-close{href:"#", data-action:"filter-close"}
            .col-sm-4.filter-group.group-calendar
              .filter-item
                .label SELECT DATES
                .night-count 0 night
                .date-container
                    #dateRange.date-range CHECK-IN - CHECK-OUT
                    .picker-container
            .col-sm-8.filter-group.group-counter
              .row
                .col-sm-3.filter-item.room-counter
                  .label ROOMS
                  %select.nice-select.select-transparent.hide-sm{data-select:"rooms"}
                    %option 01
                  .incrementor#incrementorRooms
                    %button.btn-dec{type:"button"}
                    %input{type:"text", readonly:"readonly", value:"1", data-min:"1", data-max:"1"}
                    %button.btn-inc{type:"button"}
                .col-sm-3.filter-item.guest-counter
                  .label GUESTS
                  .guest-panel
                    .guest-display 01
                    .guest-dropdown-backdrop
                    .guest-dropdown
                      %h5 ROOM 1
                      %div.guest-select-group.parents-group
                        .guest-select
                          %p ADULTS
                          %select.nice-select.select-white.hide-sm{data-select:"adults"}
                            %option{value:1} 1
                            %option{value:2} 2
                            %option{value:3} 3
                            %option{value:4} 4
                          .incrementor#incrementorAdults
                            %button.btn-dec{type:"button"}
                            %input{type:"text", readonly:"readonly", value:"1", data-min:"1", data-max:"4"}
                            %button.btn-inc{type:"button"}
                        .guest-select
                          %p CHILDREN
                          %select.nice-select.select-white.hide-sm{data-select:"children"}
                            %option{value:0} 0
                            %option{value:1} 1
                            %option{value:2} 2
                            %option{value:3} 3
                          .incrementor#incrementorChildren
                            %button.btn-dec{type:"button"}
                            %input{type:"text", readonly:"readonly", value:"0", data-min:"0", data-max:"3"}
                            %button.btn-inc{type:"button"}

                      %div.guest-select-group.children-group#guestGroupChildren

                .col-sm-6
                  .controller
                    %a.btn.btn-info.btn-lg{href:"select-hotel.html"} Search
      .short-picker.hide-md{data-action:"filter-open"}
        .selected-dates SELECT DATES
        .selected-rooms
          %span.count 0
          %span ROOM
        .selected-guests
          %span.count 0
          %span ADULTS
          
    %section.home-banner
      .bg-image{style:"background-image:url('assets/images/bg-1.png')"}
      .caption
        %h5 TECH EXPO: 2018
        %p Book your hotel room at special rates, exclusive to this event.

    %section.section-contact.bg-lightgray
      .container
        %h3 The Kingsmen Hotel
        .row
          .col-sm-7
            %p Each room draws inspiration from local culture and tradition while celebrating innovation to create a luxurious hotel experience. From design details to exhibitions and events, discover what makes our hotel so unique.
            .font-13
            %p.text-info
              The Kingsmen Hotel
              %br/
              2 Kingsmen Road
              %br/
              Singapore 099891
            %p 
              %strong Phone: 
               +65 6733 8388
          .col-sm-5
            .google-map-container.hide-sm
              #map

    %footer
      %div
        %strong Tech Expo: 2018.&nbsp;
        %a{href:"#"} Get Tickets for Event
      %div
        Copyright 2017 Idem Labs, All Rights Reserved.&nbsp;
        %br.hide-md
        %a{href:"#"} Privacy Policy
        %span.dot-divider
        %a{href:"#"} Terms & Conditions.

    %template#tmpLegend
      .calendar-footer-panel
        .button-group.hide-md
          %button.btn.btn-info.btn-block.btn-lg.btn-next{type:"button", data-action:"filter-next"} Continue to Rooms & Guests
        .calendar-legend
          .row.space-0
            .col-xs-4.legend-item
              .item.item-event 31
              %label Event
            .col-xs-4.legend-item
              .item.item-unavailable 31
              %label Unavailable
            .col-xs-4.legend-item
              .item.item-selected 31
              %label Selected

    %template#tmpGuestSelect
      .guest-select
        %p 
        %select.nice-select.select-white
          %option 01
          %option 02
          %option 03
          %option 04
          %option 05
          %option 06
          %option 07
          %option 08
          %option 09
          %option 10

%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js", type:"text/javascript"}
%script{src:"assets/plugins/jquery-daterange/jquery.daterangepicker.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/js/script.js", type:"text/javascript"}
%script{async, defer, src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyDDXXYRn0TSBjPl0n-EJEkgnNsOJvXOObg&callback=initMap"}
