%html
  %head
    %title Kingsmen
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700|Work+Sans:300,400,500,600,700", rel:"stylesheet"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/jquery-daterange/daterangepicker.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body
    %header.container-fluid
      .row.space-0
        .col-sm-3
          .logo
            %img.img-responsive{src:"assets/images/logo-kingsmen.png"}
        .col-sm-9
          .row.space-0.filter-panel
            .col-sm-4.filter-item
              .label DATES
              .night-count 0 night
              .date-container
                #dateRange.date-range CHECK-IN - CHECK-OUT
            .col-sm-2.filter-item
              .label ROOMS
              %select.nice-select.select-transparent
                %option 01
            .col-sm-2.filter-item
              .label GUESTS
              .guest-panel
                .guest-display 01
                .guest-dropdown-backdrop
                .guest-dropdown
                  %h5 ROOM 1
                  %div.guest-select-group
                    .guest-select
                      %p ADULTS
                      %select.nice-select.select-white{data-select:"adults"}
                        %option{value:1} 1
                        %option{value:2} 2
                        %option{value:3} 3
                        %option{value:4} 4
                    .guest-select
                      %p CHILDREN
                      %select.nice-select.select-white{data-select:"children"}
                        %option{value:0} 0
                        %option{value:1} 1
                        %option{value:2} 2
                        %option{value:3} 3

                  %div.guest-select-group#guestGroupChildren

            .col-sm-4
              .controller
                %button.btn.btn-info.btn-lg Search
    
    %section.home-banner
      .container
        %h3.mb-30 The Kingsmen Hotel
        .row
          .col-sm-7
            %p.text-info.font-13 2 Kingsmen Road, Singapore 099891
            %p.font-13 
              %strong Phone: 
               +65 6733 8388
            %br/
            %p Each room draws inspiration from local culture and tradition while celebrating innovation to create a luxurious hotel experience. From design details to exhibitions and events, disco...
            
            %a{href:"#"} Read more...
          .col-sm-5
            .google-map-container
              #map
    %hr/
    %section.pt-0
      .container
        %h5.text-cormo YOUR STAY HERE INCLUDES:
        %p Room block inclusions here. SHOW ALL TEXT WITHOUT TRUNCATION. Recent Singapore's 440 guest rooms, which include 46 suites with private balconies, are an you stay...
        %a{href:"#"} Read more...
        %hr/
        .form-inline.mb-30
          .form-group
            %label.pr-15 Filter rooms:
            %select.nice-select.select-white
              %option Only available rooms
              %option All rooms

        .room-list
          %p.msg-empty There are no rooms available. Try changing your search dates, selected room, or number of guests.
        %br/
        %a{href:"#"} View Room Policies
          %i.icon.icon-arrow-down.ml-15
    %footer
      %div
        %strong Tech Expo: 2018.&nbsp;
        %a{href:"#"} Get Tickets for Event
      %div
        Copyright 2017 Idem Labs, All Rights Reserved.&nbsp;
        %a{href:"#"} Privacy Policy
        %span.dot-divider
        %a{href:"#"} Terms & Conditions.


%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js", type:"text/javascript"}
%script{src:"assets/plugins/jquery-daterange/jquery.daterangepicker.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/js/script.js", type:"text/javascript"}
%script{async, defer, src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyDDXXYRn0TSBjPl0n-EJEkgnNsOJvXOObg&callback=initMap"}
