%html
  %head
    %title Kingsmen
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700|Work+Sans:300,400,500,600,700", rel:"stylesheet"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/jquery-daterange/daterangepicker.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body
    %header.container-fluid
      .row.space-0
        .col-sm-3
          .logo
            %img.img-responsive{src:"assets/images/logo-kingsmen.png"}
        .col-sm-9
          .row.space-0.filter-panel
            .col-sm-4.filter-item
              .label DATES
              .night-count 0 night
              .date-container
                #dateRange.date-range CHECK-IN - CHECK-OUT
            .col-sm-2.filter-item
              .label ROOMS
              %select.nice-select.select-transparent
                %option 01
            .col-sm-2.filter-item
              .label GUESTS
              .guest-panel
                .guest-display 01
                .guest-dropdown-backdrop
                .guest-dropdown
                  %h5 ROOM 1
                  %div.guest-select-group
                    .guest-select
                      %p ADULTS
                      %select.nice-select.select-white{data-select:"adults"}
                        %option{value:1} 1
                        %option{value:2} 2
                        %option{value:3} 3
                        %option{value:4} 4
                    .guest-select
                      %p CHILDREN
                      %select.nice-select.select-white{data-select:"children"}
                        %option{value:0} 0
                        %option{value:1} 1
                        %option{value:2} 2
                        %option{value:3} 3

                  %div.guest-select-group#guestGroupChildren

            .col-sm-4
              .controller
                %button.btn.btn-info.btn-lg Search
    
    %section
      .container
        %h3.mb-30 The Kingsmen Hotel
        .row
          .col-sm-7
            %p.text-info.font-13 2 Kingsmen Road, Singapore 099891
            %p.font-13 
              %strong Phone: 
               +65 6733 8388
            %br/
            %p Each room draws inspiration from local culture and tradition while celebrating innovation to create a luxurious hotel experience. From design details to exhibitions and events, disco...
            
            %a{href:"#"} Read more...
          .col-sm-5 Google Map
    %hr/
    %section.pt-0
      .container
        %h5.text-cormo YOUR STAY HERE INCLUDES:
        %p Room block inclusions here. SHOW ALL TEXT WITHOUT TRUNCATION. Recent Singapore's 440 guest rooms, which include 46 suites with private balconies, are an you stay...
        %a{href:"#"} Read more...
        %hr/
        .form-inline.mb-30
          .form-group
            %label.pr-15 Filter rooms:
            %select.nice-select.select-white
              %option Only available rooms
              %option All rooms

        .room-list
          .room-item
            .block-main
              .row
                .col-sm-4.pb-30
                  .img-container
                    .img-wrapper{style:"background-image:url('assets/images/room-01.png')"}
                    %a{href:"#"}
                      %i.icon.icon-zoomin
                  .pt-10.pl-5
                    %h5.text-cormo MAX. GUESTS
                    %div
                      %i.icon.icon-guest
                      %i.icon.icon-guest
                      %i.icon.icon-guest
                .col-sm-8
                  .block-info
                    %h4.title Deluxe King Room
                      %span.status-tag Available
                    .row
                      .col-sm-6
                        %h5.text-cormo DESCRIPTION
                        .expandable
                          .shown-content.inline-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            %span.extension &nbsp;aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                          %a{href:"#", data-action:"expand", data-expand:"Less details", data-collapse:"More details"} More details
                      .col-sm-6
                        %h5.text-cormo INCLUDES
                        .expandable
                          .shown-content
                            %div Breakfast
                            %div Free Parking
                            %div Free Internet
                            .extension
                              %div Hanger
                              %div Unlimited mobile data with
                              %div Handy phone
                              %div Laundry
                          %a{href:"#", data-action:"expand", data-expand:"Less inclusive", data-collapse:"More inclusive"} More inclusive
            .block-price
              %h5.text-cormo AVG. NIGHTLY RATE
              .price $300
                %small SGD
              %p.mb-60 Excluding Taxes & Fees

              %button.btn.btn-info.btn-block.btn-lg Select Room
              
          .room-item
              .block-main
                .row
                  .col-sm-4.pb-30
                    .img-container
                      .img-wrapper{style:"background-image:url('assets/images/room-02.png')"}
                      %a{href:"#"}
                        %i.icon.icon-zoomin
                    .pt-10.pl-5
                      %h5.text-cormo MAX. GUESTS
                      %div
                        %i.icon.icon-guest
                        %i.icon.icon-guest
                  .col-sm-8
                    .block-info
                      %h4.title Deluxe King Room
                        %span.status-tag Available
                      .row
                        .col-sm-6
                          %h5.text-cormo DESCRIPTION
                          .expandable
                            .shown-content.inline-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                              %span.extension &nbsp;aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            %a{href:"#", data-action:"expand", data-expand:"Less details", data-collapse:"More details"} More details
                        .col-sm-6
                          %h5.text-cormo INCLUDES
                          .expandable
                            .shown-content
                              %div Breakfast
                              %div Free Parking
                              %div Free Internet
                              .extension
                                %div Hanger
                                %div Unlimited mobile data with
                                %div Handy phone
                                %div Laundry
                            %a{href:"#", data-action:"expand", data-expand:"Less inclusive", data-collapse:"More inclusive"} More inclusive
              .block-price
                %h5.text-cormo AVG. NIGHTLY RATE
                .price $385
                  %small SGD
                %p.mb-60 Excluding Taxes & Fees

                %button.btn.btn-info.btn-block.btn-lg Select Room
        %br/
        %a{href:"#"} View Room Policies
          %i.icon.icon-arrow-down.ml-15
    %footer
      %div
        %strong Tech Expo: 2018.&nbsp;
        %a{href:"#"} Get Tickets for Event
      %div
        Copyright 2017 Idem Labs, All Rights Reserved.&nbsp;
        %a{href:"#"} Privacy Policy
        %span.dot-divider
        %a{href:"#"} Terms & Conditions.


%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js", type:"text/javascript"}
%script{src:"assets/plugins/jquery-daterange/jquery.daterangepicker.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/js/script.js", type:"text/javascript"}
