%html
  %body
    <!--[if mso]>
    <style type="text/css"> body, table, td { font-family: Helvetica, sans-serif; } .pd20 {padding: 20px; } 
    </style>
    <![endif]-->
    %style{type:"text/css"}
      @media only screen and (max-device-width: 480px){  }
      -# @media only screen and (max-device-width: 480px){   ._main-div { width: 600px, color: red }  { width: 100%;} }
    %center
      %div._main-div{style:"width:600px"}
        %table
          %tr
            %td{width:"600", style:"width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; font-family: 'Helvetica'; font-size: 13px; line-height: 1.4; padding: 0;"}
              %table{cellpadding: "30", cellspacing: "0"}
                %tr
                  %td
                    %table{style:"width: 100%"}
                      %tr
                        %td
                          %img{src:"http://stg-vn01.kyanon.digital/demo/sofitel-calendar/assets/images/logo-kingsmen.png"}
                        %td
                          %div{style:"text-align: right; font-size: 11px; font-weight: bold"} Tech In Asia: 2018
                    
                    %h3{style:"font-size: 20px; margin-top: 50px"} Cancelled reservation
                    %div{style:"font-size: 15px; margin-bottom: 30px; line-height: 22px;"}
                      %p Dear Mr. Low
                      %p Your reservation with The Kingsmen Hotel Singapore has been cancelled. If you have entered your credit card details during the booking, you will not be charged.
                    
                    %table{cellpadding: "20"}
                      %tr
                        %td{width:"600", style:"border: 1px solid #e0e0e0; padding: 20px; background-color: #fafafa"}
                          %div{style:"font-family:Georgia; font-size: 10px; letter-spacing: 1.5px; margin-bottom: 20px"}
                            YOUR RESERVATION DETAILS
                          %img{src:"http://stg-vn01.kyanon.digital/demo/sofitel-calendar/assets/images/room-03.png", style:"width: 100%; display: block; margin-bottom: 15px;"}
                          %div{style:"font-size: 17px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0; margin: 10px 0;"}
                            Deluxe King Room
                          %table{style:"width: 100%; margin-bottom: 15px;"}
                            %tr
                              %td{style:"width: 50%; font-size: 13px; line-height: 18px; "}
                                %div{style:"font-family:Georgia; font-size: 10px; letter-spacing: 1.5px;"} CHECK-IN
                                %div Friday
                                %div 23 June 2017
                                %div{style:"font-family:Georgia; font-size: 10px; letter-spacing: 1.5px; margin-top: 15px;"} NO. OF ROOMS
                                %div 01

                              %td{style:"width: 50%; font-size: 13px; line-height: 18px; "}
                                %div{style:"font-family:Georgia; font-size: 10px; letter-spacing: 1.5px;"} CHECK-OUT
                                %div Sunday
                                %div 25 June 2017
                                %div{style:"font-family:Georgia; font-size: 10px; letter-spacing: 1.5px; margin-top: 15px;"} NO. OF ROOMS
                                %div 03
                          %a{style:"color: #0095FF; text-decoration: none; display: block; font-size: 13px", href:"http://sample.com"} 
                            To view inclusions and room policy, click here
                    
                    %br
                    %div
                      %div{style:"font-size: 15px; margin-bottom: 10px;"} The Kingsmen Hotel
                      %div{style:"font-size: 13px; line-height: 20px; color: #0095FF; margin-bottom: 10px;"} 2 Kingsmen Road, Sentosa, Singapore 099891
                      %table{style:"font-size: 13px; line-height: 1.4;"}
                        %tr
                          %td{style:"padding-right: 30px;"} Wesite:
                          %td 
                            %a{style:"color: #0095FF; text-decoration: none;", href:"www.thekingsmenhotel.com", target:"_blank"} 
                              www.thekingsmenhotel.com
                        %tr
                          %td{style:"padding-right: 30px;"} Email:
                          %td reservations@thekingsmenhotel.com
                        %tr
                          %td{style:"padding-right: 30px;"} Phone:
                          %td +65 1234 1234
                        %tr
                          %td{style:"padding-right: 30px;"} Fax:
                          %td +65 1234 1234

              %table{style:"background-color: #f0f0f0; width: 100%; text-align: center; font-size: 11px; line-height: 1.6; letter-spacing: 0.2px; color: #555;"}
                %tr
                  %td{style:"padding: 20px 40px"}
                    %div Copyright 2017 Idem Labs, All Rights Reserved.
                    %div You received this email at christina-tang@hotmail.com because you have made a reservation on IdemEvents.
    <!--[if mso]>
    <![endif]--> 
