$formSpace: 20px;
.filter-panel {
	background-color: $color-primary;
	color: #fff;
	height: $height;
	// border: 1px solid #777;

	// Helper
	.drop-panel {
		height: $height - 35px;
		line-height: $height - 35px;
		padding: 0 $formSpace;
	}
	.lbl-cormo {
		font: {
			family: $font-cormorant;
			size: 30px;
		}
	}
	.down-arrow {
		&:after {
	    content: '';
			border-bottom: 2px solid #257eee;
	    border-right: 2px solid #257eee;
			width: 10px;
			height: 10px;
			top: 40%;
			right: 20px;
	    display: block;
	    margin-top: -4px;
	    pointer-events: none;
	    position: absolute;
	    @include prefix(transform-origin, 66% 66%);
	    @include prefix(transform, rotate(45deg));
		}
	}

	&.row.space-0 {
		margin-right: -15px;
	}
	.filter-item {
		height: $height;
		padding: $formSpace 0 0 0;
		& + .filter-item {
			border-left: 1px solid #777;
		}
	}
	.label {
		display: block;
		text-align: left; 
		padding: 0 $formSpace;
		font-family: $font-cormorant;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 2px;
	}

	.night-count {
		position: absolute;
		top: 20px;
		right: 20px;
		line-height: 1;
		color: $gray;
	}

	.date-container {
		position: relative;
		@extend .drop-panel;
		@extend .down-arrow;
	}
	.date-range {
		font-size: 12px;
		cursor: pointer;
		color: $gray;
		span {
			font-family: $font-cormorant;
			color: #fff;
			font-size: 20px;
		}
	}

	// For Room select
	select.nice-select {
		display: none;
	}
	.nice-select.select-transparent {
		float: none;
		background-color: transparent;
		border: none;
		@extend .drop-panel;
		@extend .lbl-cormo;
		&:after {
			border-color: #257eee;
			width: 10px;
			height: 10px;
			top: 40%;
			right: 15px;
		}
		&.open:after {
			@include prefix(transform, rotate(45deg));
		}
		.list {
			margin: 0;
			border-radius: 0;
			width: 100%;
			background-color: $color-primary;
			@include prefix(transform, scale(1));
		}
		.option {
			&:hover,
			&.focus,
			&.selected.focus {
				background-color: darken($color-primary, 5%);
			}
		}
	}

	// For Guest Select 
	.guest-panel {
	}
	.guest-display {
		position: relative;
		@extend .drop-panel;
		@extend .lbl-cormo;
		@extend .down-arrow;
		cursor: pointer;
	}
	.guest-dropdown-backdrop {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
		display: none;
	}
	.guest-dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
		width: 400px;
		color: #fff;
		background-color: $color-primary;
		padding: 20px;
		font-size: 12px;
		box-shadow: 3px 3px 10px rgba(0,0,0,.5);
		display: none;
		h5 {
			font-family: $font-cormorant;
			font-size: 12px;
		}
		.guest-select-group {
			margin-bottom: 15px;
		}
		.guest-select {
			display: inline-block;
			width: 30%;
		}
	}
	.nice-select.select-white {
		color: #000;
		border: none;
		height: 30px;
		line-height: 30px;
	}

	.controller {
		padding: 28px 15px;
		text-align: center;
		.btn {
			width: 140px;
		}
	}
}

$color-valid: #368fff;
$color-selected: green;
$color-invalid: #555;
$color-event: #e74515;

.date-picker-wrapper.hotel-calendar {
	width: 100%;
	top: 100% !important;
	left: 0px !important;
	padding: 0;
	background-color: $color-primary;
	border: none;
	.prev, .next {
		display: none;
	}
	.month-wrapper {
		width: 100% !important;
		background-color: transparent;
		border: none;

		table {
			width: 100%;
			th, td {
				width: 14.2%;
			}
			.month-name {
				font-size: 12px;
				font-weight: 500;
				color: #fff;
			}
			.week-name th {
				font-size: 11px;
				font-weight: 400;
				color: #fff;
				padding-bottom: 10px;
			}
			.day {
				font-size: 14px;
				// margin-bottom: 5px;
				// border-bottom: 2px solid transparent;
				margin-bottom: 0;
				padding: 15px 0 16px;
				position: relative;
			}
			.day.real-today {
				background-color: transparent;
			}
			.day.toMonth.invalid {
				color: $color-invalid;
			}
			.day.toMonth.valid { 
				color: #fff;
				// background-color: $color-valid;
			}
			.day.toMonth.first-date-selected {
				// background-color: rgba($color-valid, .2) !important;
				background-color: $color-valid !important;
				border-top-left-radius: 50%;
				border-bottom-left-radius: 50%;
				// &:after {
				// 	content: '';
				// 	width: 100%;
				// 	height: 100%;
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	border-radius: 50%;
				// 	background-color: $color-valid;
				// }
			}
			.day.toMonth.last-date-selected {
				background-color: $color-valid !important;
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
			}
			.day.toMonth.hovering {
				background-color: rgba($color-valid, .2);
			}
			.day.toMonth.checked {
				// background-color: $color-selected !important;
				background-color: rgba($color-valid, .2);
			}
		}
	}
	
	.event-date:after {
		// border-bottom: 2px solid red;
		content: '';
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: $color-event;
		position: absolute;
		bottom: -3px;
		left: 50%;
		@include prefix(transform, translateX(-50%));
	}
	.soldout-date {
		// color: #fff !important;
		color: $color-invalid !important;
	}
}

.calendar-legend {
	background-color: rgba(#fff, .2);
	padding: 10px 5px;
	.legend-item {
		text-align: center;
		color: #fff;
	}
	.item {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	
	.item-event {
		background-color: $color-valid;
		border-bottom: 2px solid red;
	}
	.item-selected {
		background-color: $color-selected;
	}
	.item-soldout {
		color: $color-invalid;
	}
	label {
		display: block;
		font-weight: 100;
		margin-bottom: 0;
	}
}