/// <reference path="../globals/_scut.scss" />
/// <reference path="../globals/_variables.scss" />
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	font-family: $font-worksans;
}
.calendar-open {
	height: 100vh;
	overflow: hidden;
}
.row {
  &.space-0 {
    @include setRowSpace(0);
  }
}

section {
	padding: 30px 0;
}

.bg-lightgray {
	background-color: #fafafa;
	& + hr {
		margin-top: 0;
	}
}

.row {
	.space-10 {
		@include setRowSpace(10);
	}
	.space-20 {
		@include setRowSpace(20);
	}
}

.img-responsive {
	width: 100%;
}

.google-map-container {
	@include ratioWrapper(3,2);
}

[data-toggle="collapse"] {
	padding-right: 30px;
	position: relative;
	&:after {
		content: '';
		display: block;
		width: 15px;
		height: 8px;
		position: absolute;
		right: 0;
		top: 40%;
		@include transition();
		@include bgImage('../images/icon/chevron-down.png', 0 0, 100% 100%);
	}
	&[aria-expanded="true"]:after {
		@include prefix(transform, rotate(180deg));
	}
	&.no-arrow {
		padding-right: 0;
		&:after {
			content: none;
		}
	}
}

.hide-md {
	display: none;
}

@include respondTo(tabletPortrait) {
	.hide-md {
		display: block;
	}

	.hide-sm {
		display: none;
	}
}