/// <reference path="../globals/_scut.scss" />
/// <reference path="../globals/_variables.scss" />

footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #555;
  // border-top: 1px solid #979797;
  @include prefix(box-shadow, 0 -1px 5px rgba(#555, .5));
  .dot-divider {
    margin: 0 10px;
    &:after {
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #000;
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }
}