/// <reference path="../globals/_scut.scss" />
/// <reference path="../globals/_variables.scss" />

header {
  @include prefix(box-shadow, 0 2px 5px rgba(#555, .5));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
   
  .logo {
    height: $height;
    line-height: $height;
    background-color: #fff;
    text-align: center;
    display: block;
    position: relative;
      @media (max-width:768px){
      width: 50%;
    }
    img {
      @extend .absolute-center;
      height: 50%;

    }
  }
  
 
  .btn-group {
    margin-top: 30px;
    @media (max-width: 768px){
      margin-top: 0px;
      width: 100%;
    }
    .btn {
      color: #fff;
      &.black-color {
        color: #000;
        font-size: 20px;
        line-height: 80px;
        display: block;
        text-align: right;
        width: 100%;
      }
    }
  }
}

.btn-group.step-group .btn {
  border: 1px solid #444;
  border-radius: 0;
  font-size: 13px;
  padding: 7px 15px;
  background-color: #333649;
  &.active {
    @include prefix(box-shadow, none);
    background-color: $color-info;
  }
  &.active ~ .btn {
    background-color: transparent;
  }
}

@include respondTo(tabletPortrait) {
  header {
    .logo {
      height: 55px;
      img {
        height: 25px;
        left: 0;
        @include prefix(transform, translateY(-50%));
      }
    }
  }
}