/*============================================================================
  #General Variables
==============================================================================*/
/*============================================================================
  #Mixin
==============================================================================*/
/*
$xlg-fonts: (
  null: 120px,
  $mdDesktop: 100px,
  $smDesktop: 90px,
  $xsDesktop: 80px,
  $largeScreen: 160px
);

$lg-fonts: (
  null: 51px,
  $mdDesktop: 45px,
  $xsDesktop: 40px,
  $largeScreen: 72px
);

$md-fonts: (
  null: 40px,
  $mdDesktop: 35px,
  $xsDesktop: 28px,
  $largeScreen: 60px
);

$sm-fonts: (
  null: 26px,
  $mdDesktop: 22px,
  $xsDesktop: 19px,
  $largeScreen: 40px
);

$xs-fonts: (
  null: 17px,
  $mdDesktop: 15px,
  $xsDesktop: 14px,
  $largeScreen: 24px
);

$content-fonts: (
  null: 14px,
  $mdDesktop: 13px,
  $xsDesktop: 11px,
  $largeScreen: 16px
);
*/
/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*============================================================================
  #Render Helping classes
==============================================================================*/
.mt-0 {
  margin-top: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mr-55 {
  margin-right: 55px !important; }

.mr-60 {
  margin-right: 60px !important; }

.mr-65 {
  margin-right: 65px !important; }

.mr-70 {
  margin-right: 70px !important; }

.mr-75 {
  margin-right: 75px !important; }

.mr-80 {
  margin-right: 80px !important; }

.mr-85 {
  margin-right: 85px !important; }

.mr-90 {
  margin-right: 90px !important; }

.mr-95 {
  margin-right: 95px !important; }

.mr-100 {
  margin-right: 100px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-45 {
  margin-left: 45px !important; }

.ml-50 {
  margin-left: 50px !important; }

.ml-55 {
  margin-left: 55px !important; }

.ml-60 {
  margin-left: 60px !important; }

.ml-65 {
  margin-left: 65px !important; }

.ml-70 {
  margin-left: 70px !important; }

.ml-75 {
  margin-left: 75px !important; }

.ml-80 {
  margin-left: 80px !important; }

.ml-85 {
  margin-left: 85px !important; }

.ml-90 {
  margin-left: 90px !important; }

.ml-95 {
  margin-left: 95px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pt-55 {
  padding-top: 55px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pt-65 {
  padding-top: 65px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pt-75 {
  padding-top: 75px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pt-85 {
  padding-top: 85px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pt-95 {
  padding-top: 95px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pr-55 {
  padding-right: 55px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pr-65 {
  padding-right: 65px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pr-75 {
  padding-right: 75px !important; }

.pr-80 {
  padding-right: 80px !important; }

.pr-85 {
  padding-right: 85px !important; }

.pr-90 {
  padding-right: 90px !important; }

.pr-95 {
  padding-right: 95px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pl-55 {
  padding-left: 55px !important; }

.pl-60 {
  padding-left: 60px !important; }

.pl-65 {
  padding-left: 65px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pl-75 {
  padding-left: 75px !important; }

.pl-80 {
  padding-left: 80px !important; }

.pl-85 {
  padding-left: 85px !important; }

.pl-90 {
  padding-left: 90px !important; }

.pl-95 {
  padding-left: 95px !important; }

.pl-100 {
  padding-left: 100px !important; }

.vertical-center,
.horizontal-center {
  position: absolute; }

.vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.absolute-center, header .logo img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.iframe-container {
  position: relative; }
  .iframe-container:before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  .iframe-container > *:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }

.d-tbl {
  display: table;
  width: 100%;
  height: 100%; }
  .d-tbl .d-tbl-cell {
    display: table-cell;
    vertical-align: middle; }

.btn-info {
  background-color: #0095FF;
  border: none; }
  .btn-info:hover, .btn-info:active, .btn-info:hover:active, .btn-info:focus {
    background-color: #0086e6; }

body {
  font-family: "Work Sans", sans-serif; }

.row.space-0 {
  margin-left: -0px;
  margin-right: -0px; }
  .row.space-0 > [class*="col"] {
    padding-left: 0px;
    padding-right: 0px; }

header {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  header .logo {
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    text-align: center; }
    header .logo img {
      height: 50%; }

.filter-panel {
  background-color: #1c2035;
  color: #fff;
  height: 100px; }
  .filter-panel .drop-panel, .filter-panel .date-container, .filter-panel .nice-select.select-transparent, .filter-panel .guest-display {
    height: 65px;
    line-height: 65px;
    padding: 0 20px; }
  .filter-panel .lbl-cormo, .filter-panel .nice-select.select-transparent, .filter-panel .guest-display {
    font-family: "Cormorant Garamond", serif;
    font-size: 30px; }
  .filter-panel .down-arrow:after, .filter-panel .date-container:after, .filter-panel .guest-display:after {
    content: '';
    border-bottom: 2px solid #257eee;
    border-right: 2px solid #257eee;
    width: 10px;
    height: 10px;
    top: 40%;
    right: 20px;
    display: block;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    -webkit-transform-origin: 66% 66%;
    -moz-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    -o-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .filter-panel.row.space-0 {
    margin-right: -15px; }
  .filter-panel .filter-item {
    height: 100px;
    padding: 20px 0 0 0; }
    .filter-panel .filter-item + .filter-item {
      border-left: 1px solid #777; }
  .filter-panel .label {
    display: block;
    text-align: left;
    padding: 0 20px;
    font-family: "Cormorant Garamond", serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px; }
  .filter-panel .night-count {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1;
    color: #aaa; }
  .filter-panel .date-container {
    position: relative; }
  .filter-panel .date-range {
    font-size: 12px;
    cursor: pointer;
    color: #aaa; }
    .filter-panel .date-range span {
      font-family: "Cormorant Garamond", serif;
      color: #fff;
      font-size: 20px; }
  .filter-panel select.nice-select {
    display: none; }
  .filter-panel .nice-select.select-transparent {
    float: none;
    background-color: transparent;
    border: none; }
    .filter-panel .nice-select.select-transparent:after {
      border-color: #257eee;
      width: 10px;
      height: 10px;
      top: 40%;
      right: 15px; }
    .filter-panel .nice-select.select-transparent.open:after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .filter-panel .nice-select.select-transparent .list {
      margin: 0;
      border-radius: 0;
      width: 100%;
      background-color: #1c2035;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .filter-panel .nice-select.select-transparent .option:hover, .filter-panel .nice-select.select-transparent .option.focus, .filter-panel .nice-select.select-transparent .option.selected.focus {
      background-color: #131624; }
  .filter-panel .guest-display {
    position: relative;
    cursor: pointer; }
  .filter-panel .guest-dropdown-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: none; }
  .filter-panel .guest-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 400px;
    color: #fff;
    background-color: #1c2035;
    padding: 20px;
    font-size: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: none; }
    .filter-panel .guest-dropdown h5 {
      font-family: "Cormorant Garamond", serif;
      font-size: 12px; }
    .filter-panel .guest-dropdown .guest-select-group {
      margin-bottom: 15px; }
    .filter-panel .guest-dropdown .guest-select {
      display: inline-block;
      width: 30%; }
  .filter-panel .nice-select.select-white {
    color: #000;
    border: none;
    height: 30px;
    line-height: 30px; }
  .filter-panel .controller {
    padding: 28px 15px;
    text-align: center; }
    .filter-panel .controller .btn {
      width: 140px; }

.date-picker-wrapper.hotel-calendar {
  width: 100%;
  top: 100% !important;
  left: 0px !important;
  padding: 0;
  background-color: #1c2035;
  border: none; }
  .date-picker-wrapper.hotel-calendar .prev, .date-picker-wrapper.hotel-calendar .next {
    display: none; }
  .date-picker-wrapper.hotel-calendar .month-wrapper {
    width: 100% !important;
    background-color: transparent;
    border: none; }
    .date-picker-wrapper.hotel-calendar .month-wrapper table {
      width: 100%; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table th, .date-picker-wrapper.hotel-calendar .month-wrapper table td {
        width: 14.2%; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .month-name {
        font-size: 12px;
        font-weight: 500;
        color: #fff; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .week-name th {
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        padding-bottom: 10px; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day {
        font-size: 14px;
        margin-bottom: 0;
        padding: 15px 0 16px;
        position: relative; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.real-today {
        background-color: transparent; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.invalid {
        color: #555; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.valid {
        color: #fff; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.first-date-selected {
        background-color: #368fff !important;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.last-date-selected {
        background-color: #368fff !important;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.hovering {
        background-color: rgba(54, 143, 255, 0.2); }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.checked {
        background-color: rgba(54, 143, 255, 0.2); }
  .date-picker-wrapper.hotel-calendar .event-date:after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #e74515;
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .date-picker-wrapper.hotel-calendar .soldout-date {
    color: #555 !important; }

.calendar-legend {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 5px; }
  .calendar-legend .legend-item {
    text-align: center;
    color: #fff; }
  .calendar-legend .item {
    display: inline-block;
    width: 20px;
    height: 20px; }
  .calendar-legend .item-event {
    background-color: #368fff;
    border-bottom: 2px solid red; }
  .calendar-legend .item-selected {
    background-color: green; }
  .calendar-legend .item-soldout {
    color: #555; }
  .calendar-legend label {
    display: block;
    font-weight: 100;
    margin-bottom: 0; }

.home-banner {
  position: relative; }
  .home-banner .caption {
    width: 380px;
    background-color: #1c2035;
    color: #fff;
    padding: 20px 42px;
    position: absolute;
    top: 52%;
    left: 0;
    font-size: 18px; }
  .home-banner h5 {
    font-weight: 600;
    font-size: 16px; }
  .home-banner img {
    width: 100%; }
