@charset "UTF-8";
/*============================================================================
  #General Variables
==============================================================================*/
/*============================================================================
  #Mixin
==============================================================================*/
/* $smartphone: 480px; */
/* $tabletPortrait: 767px; */
/* $tabletLandscape: 1023px; */
/* $xsDesktop: 1100px; */
/* $smDesktop: 1200px; */
/* $mdDesktop: 1280px; */
/* // $desktop: 1174px; */
/* $largeScreen: 1440px; */
/* $hdScreen: 1799px; */
/*
$xlg-fonts: (
  null: 120px,
  $mdDesktop: 100px,
  $smDesktop: 90px,
  $xsDesktop: 80px,
  $largeScreen: 160px
);

$lg-fonts: (
  null: 51px,
  $mdDesktop: 45px,
  $xsDesktop: 40px,
  $largeScreen: 72px
);

$md-fonts: (
  null: 40px,
  $mdDesktop: 35px,
  $xsDesktop: 28px,
  $largeScreen: 60px
);

$sm-fonts: (
  null: 26px,
  $mdDesktop: 22px,
  $xsDesktop: 19px,
  $largeScreen: 40px
);

$xs-fonts: (
  null: 17px,
  $mdDesktop: 15px,
  $xsDesktop: 14px,
  $largeScreen: 24px
);

$content-fonts: (
  null: 14px,
  $mdDesktop: 13px,
  $xsDesktop: 11px,
  $largeScreen: 16px
);
*/
/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*============================================================================
  #Render Helping classes
==============================================================================*/
.mt-0 {
  margin-top: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mr-55 {
  margin-right: 55px !important; }

.mr-60 {
  margin-right: 60px !important; }

.mr-65 {
  margin-right: 65px !important; }

.mr-70 {
  margin-right: 70px !important; }

.mr-75 {
  margin-right: 75px !important; }

.mr-80 {
  margin-right: 80px !important; }

.mr-85 {
  margin-right: 85px !important; }

.mr-90 {
  margin-right: 90px !important; }

.mr-95 {
  margin-right: 95px !important; }

.mr-100 {
  margin-right: 100px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-45 {
  margin-left: 45px !important; }

.ml-50 {
  margin-left: 50px !important; }

.ml-55 {
  margin-left: 55px !important; }

.ml-60 {
  margin-left: 60px !important; }

.ml-65 {
  margin-left: 65px !important; }

.ml-70 {
  margin-left: 70px !important; }

.ml-75 {
  margin-left: 75px !important; }

.ml-80 {
  margin-left: 80px !important; }

.ml-85 {
  margin-left: 85px !important; }

.ml-90 {
  margin-left: 90px !important; }

.ml-95 {
  margin-left: 95px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pt-55 {
  padding-top: 55px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pt-65 {
  padding-top: 65px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pt-75 {
  padding-top: 75px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pt-85 {
  padding-top: 85px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pt-95 {
  padding-top: 95px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pr-55 {
  padding-right: 55px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pr-65 {
  padding-right: 65px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pr-75 {
  padding-right: 75px !important; }

.pr-80 {
  padding-right: 80px !important; }

.pr-85 {
  padding-right: 85px !important; }

.pr-90 {
  padding-right: 90px !important; }

.pr-95 {
  padding-right: 95px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pl-55 {
  padding-left: 55px !important; }

.pl-60 {
  padding-left: 60px !important; }

.pl-65 {
  padding-left: 65px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pl-75 {
  padding-left: 75px !important; }

.pl-80 {
  padding-left: 80px !important; }

.pl-85 {
  padding-left: 85px !important; }

.pl-90 {
  padding-left: 90px !important; }

.pl-95 {
  padding-left: 95px !important; }

.pl-100 {
  padding-left: 100px !important; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

.font-31 {
  font-size: 31px; }

.font-32 {
  font-size: 32px; }

.font-33 {
  font-size: 33px; }

.font-34 {
  font-size: 34px; }

.font-35 {
  font-size: 35px; }

.font-36 {
  font-size: 36px; }

.font-37 {
  font-size: 37px; }

.font-38 {
  font-size: 38px; }

.font-39 {
  font-size: 39px; }

.font-40 {
  font-size: 40px; }

.vertical-center, .form-horizontal.form-left .placeholder-right span,
.horizontal-center {
  position: absolute; }

.vertical-center, .form-horizontal.form-left .placeholder-right span {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.absolute-center, header .logo img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.iframe-container {
  position: relative; }
  .iframe-container:before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  .iframe-container > *:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }

.d-tbl {
  display: table;
  width: 100%;
  height: 100%; }
  .d-tbl .d-tbl-cell {
    display: table-cell;
    vertical-align: middle; }

/* Base for label styling */
.nice-check:checked, .nice-check:not(:checked) {
  position: absolute;
  left: -9999px; }
  .nice-check:checked + label, .nice-check:not(:checked) + label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    font-weight: 100;
    height: 30px;
    line-height: 30px; }
    .nice-check:checked + label:before, .nice-check:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #00AA41;
      background: #fff;
      border-radius: 50%; }
    .nice-check:checked + label:after, .nice-check:not(:checked) + label:after {
      content: '✔';
      position: absolute;
      top: 0;
      left: 9px;
      line-height: 30px;
      font-size: 14px;
      color: #fff;
      transition: all .1s; }

.nice-check:checked + label:before {
  background-color: #00AA41; }

.nice-check:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.nice-check:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.nice-check:focus {
  outline: none !important; }

.nice-check:disabled:not(:checked) + label:before,
.nice-check:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

.nice-check:disabled:checked + label:after {
  color: #999; }

.nice-check:disabled + label {
  color: #aaa; }

.nice-check.nice-check-sm:not(:checked) + label,
.nice-check.nice-check-sm:checked + label {
  height: 30px;
  line-height: 18px;
  padding-left: 23px;
  position: relative;
  top: 7px; }
  .nice-check.nice-check-sm:not(:checked) + label:before,
  .nice-check.nice-check-sm:checked + label:before {
    width: 18px;
    height: 18px; }
  .nice-check.nice-check-sm:not(:checked) + label:after,
  .nice-check.nice-check-sm:checked + label:after {
    line-height: 18px;
    left: 3px; }

.nice-check.nice-check-sm:checked + label:after {
  opacity: 1;
  transform: scale(0.8); }

.icon {
  display: inline-block; }
  .icon.icon-arrow-down {
    width: 15px;
    height: 8px;
    background: url("../images/icon/chevron-down.png") 0 0/100% 100% no-repeat; }
  .icon.icon-zoomin {
    width: 15px;
    height: 15px;
    background: url("../images/icon/icon-zoomin.png") 0 0/100% 100% no-repeat; }
  .icon.icon-guest {
    width: 11px;
    height: 10px;
    background: url("../images/icon/icon-guest.png") 0 0/100% 100% no-repeat; }

.btn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

button, button:focus, button:active, a, a:focus, a:active {
  outline: none !important; }

.btn-group-lg > .btn, .btn-lg {
  font-size: 15px;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px; }

.control-group .btn {
  min-width: 130px; }

.control-group .btn + .btn {
  margin-left: 15px; }

.btn-info {
  background-color: #0095FF;
  border: none; }
  .btn-info:hover, .btn-info:active, .btn-info:hover:active, .btn-info:focus {
    background-color: #0086e6; }

.btn-info-bordered {
  background-color: transparent;
  border: 1px solid #0095FF;
  color: #0095FF; }
  .btn-info-bordered:hover, .btn-info-bordered:active, .btn-info-bordered:hover:active, .btn-info-bordered:focus {
    background-color: #0095FF;
    color: #fff; }

.btn-gray {
  background-color: #777;
  color: #fff;
  border: none; }
  .btn-gray:hover, .btn-gray:active, .btn-gray:hover:active, .btn-gray:focus {
    background-color: #5e5e5e;
    color: #fff; }

.text-default {
  color: #777; }

.text-info {
  color: #0095FF; }

.fw-600 {
  font-weight: 600; }

.text-bold {
  font-weight: 700; }

a {
  color: #0095FF;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #0086e6; }

.font-13 {
  font-size: 13px; }

.text-cormo {
  font-family: "Cormorant Garamond", serif; }

.title-p20 {
  padding: 20px; }

h1.text-cormo, h2.text-cormo, h3.text-cormo, h4.text-cormo, h5.text-cormo {
  font-weight: 600;
  letter-spacing: 1.5px; }

h5 {
  font-size: 12px; }

table {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.4; }

.nice-select.select-white {
  color: #000;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 40px;
  float: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -moz-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -ms-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -o-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset; }
  .nice-select.select-white:after {
    width: 14px;
    height: 9px;
    right: 8px;
    border: none;
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background: url("../images/icon/chevron-down.png") 0 0/100% 100% no-repeat; }
  .nice-select.select-white .option.selected {
    font-weight: 500; }
  .nice-select.select-white .list {
    width: 100%; }

.form-inline label {
  font-weight: normal; }

.form-inline .nice-select.select-white {
  min-width: 220px;
  display: inline-block; }

.form-horizontal.form-left {
  padding-right: 40px; }
  @media (max-width: 768px) {
    .form-horizontal.form-left {
      padding-right: 0px; } }
  .form-horizontal.form-left .form-group {
    margin-bottom: 10px; }
  .form-horizontal.form-left .control-label {
    font-weight: 400;
    text-align: left; }
  .form-horizontal.form-left .input-mix {
    position: relative; }
  .form-horizontal.form-left .placeholder-right .form-control {
    padding-right: 70px; }
  .form-horizontal.form-left .placeholder-right span {
    font-size: 10px;
    right: 15px;
    color: #777; }
  .form-horizontal.form-left .form-control {
    padding: 6px 7px; }

.form-control {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  color: #333;
  -webkit-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -moz-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -ms-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -o-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset; }

input.form-control {
  height: 30px; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Work Sans", sans-serif; }

.calendar-open {
  height: 100vh;
  overflow: hidden; }

.row.space-0 {
  margin-left: -0px;
  margin-right: -0px; }
  .row.space-0 > [class*="col"] {
    padding-left: 0px;
    padding-right: 0px; }

section {
  padding: 30px 0; }

.bg-lightgray {
  background-color: #fafafa; }
  .bg-lightgray + hr {
    margin-top: 0; }

.row .space-10 {
  margin-left: -5px;
  margin-right: -5px; }
  .row .space-10 > [class*="col"] {
    padding-left: 5px;
    padding-right: 5px; }

.row .space-20 {
  margin-left: -10px;
  margin-right: -10px; }
  .row .space-20 > [class*="col"] {
    padding-left: 10px;
    padding-right: 10px; }

.img-responsive {
  width: 100%; }

.google-map-container {
  position: relative; }
  .google-map-container:before {
    content: '';
    display: block;
    padding-top: 66.66667%; }
  .google-map-container > *:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }

[data-toggle="collapse"] {
  padding-right: 30px;
  position: relative; }
  [data-toggle="collapse"]:after {
    content: '';
    display: block;
    width: 15px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 40%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background: url("../images/icon/chevron-down.png") 0 0/100% 100% no-repeat; }
  [data-toggle="collapse"][aria-expanded="true"]:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  [data-toggle="collapse"].no-arrow {
    padding-right: 0; }
    [data-toggle="collapse"].no-arrow:after {
      content: none; }

.hide-md {
  display: none; }

@media (max-width: 992px) {
  body {
    font-size: 13px; }
  .hide-md {
    display: block; }
  .hide-sm {
    display: none; } }

header {
  -webkit-box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  -ms-box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  -o-box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  position: relative;
  z-index: 1; }
  header .logo {
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    text-align: center;
    display: block;
    position: relative; }
    @media (max-width: 768px) {
      header .logo {
        width: 50%; } }
    header .logo img {
      height: 50%; }
  header .btn-group {
    margin-top: 30px; }
    @media (max-width: 768px) {
      header .btn-group {
        margin-top: 0px;
        width: 100%; } }
    header .btn-group .btn {
      color: #fff; }
      header .btn-group .btn.black-color {
        color: #000;
        font-size: 20px;
        line-height: 80px;
        display: block;
        text-align: right;
        width: 100%; }

.btn-group.step-group .btn {
  border: 1px solid #444;
  border-radius: 0;
  font-size: 13px;
  padding: 7px 15px;
  background-color: #333649; }
  .btn-group.step-group .btn.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background-color: #0095FF; }
  .btn-group.step-group .btn.active ~ .btn {
    background-color: transparent; }

@media (max-width: 992px) {
  header .logo {
    height: 55px; }
    header .logo img {
      height: 25px;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); } }

footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #555;
  -webkit-box-shadow: 0 -1px 5px rgba(85, 85, 85, 0.5);
  -moz-box-shadow: 0 -1px 5px rgba(85, 85, 85, 0.5);
  -ms-box-shadow: 0 -1px 5px rgba(85, 85, 85, 0.5);
  -o-box-shadow: 0 -1px 5px rgba(85, 85, 85, 0.5);
  box-shadow: 0 -1px 5px rgba(85, 85, 85, 0.5); }
  footer .dot-divider {
    margin: 0 10px; }
    footer .dot-divider:after {
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #000;
      display: inline-block;
      position: relative;
      top: -2px; }

@media (max-width: 992px) {
  footer {
    font-size: 11px; }
    footer .dot-divider:after {
      top: -1px; } }

.filter-panel {
  background-color: #1c2035;
  color: #fff;
  height: 100px; }
  .filter-panel.blank {
    background-color: #fff;
    color: #000; }
    .filter-panel.blank .btn {
      color: #000; }
  .filter-panel .drop-panel, .filter-panel .date-container, .filter-panel .nice-select.select-transparent, .filter-panel .guest-display {
    height: 65px;
    line-height: 65px;
    padding: 0 20px; }
  .filter-panel .lbl-cormo, .filter-panel .nice-select.select-transparent, .filter-panel .guest-display {
    font-family: "Cormorant Garamond", serif;
    font-size: 30px; }
  .filter-panel .down-arrow:after, .filter-panel .date-container:after, .filter-panel .guest-display:after {
    content: '';
    border-bottom: 2px solid #257eee;
    border-right: 2px solid #257eee;
    width: 16px;
    height: 10px;
    top: 40%;
    right: 20px;
    display: block;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    border: none;
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background: url("../images/icon/chevron-down-blue.png") 0 0/100% 100% no-repeat; }
  .filter-panel.row.space-0 {
    margin-right: -15px; }
    .filter-panel.row.space-0 .row {
      margin: 0; }
  .filter-panel .filter-item {
    height: 100px;
    padding: 20px 0 0 0; }
  .filter-panel .group-counter .filter-item {
    border-left: 1px solid #777; }
  .filter-panel .label {
    display: block;
    text-align: left;
    padding: 0 20px;
    font-family: "Cormorant Garamond", serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px; }
  .filter-panel .night-count {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1;
    color: #aaa; }
  .filter-panel .date-container {
    position: relative; }
  .filter-panel .date-range {
    font-size: 12px;
    cursor: pointer;
    color: #aaa; }
  .filter-panel .selected-dates {
    color: #fff;
    text-transform: uppercase; }
    .filter-panel .selected-dates span {
      font-family: "Cormorant Garamond", serif;
      color: #fff;
      font-size: 30px; }
  .filter-panel select.nice-select {
    display: none; }
  .filter-panel .nice-select.select-transparent {
    float: none;
    background-color: transparent;
    border: none; }
    .filter-panel .nice-select.select-transparent:after {
      border-color: #257eee;
      width: 16px;
      height: 10px;
      top: 40%;
      right: 15px;
      border: none;
      -webkit-transform-origin: 0;
      -moz-transform-origin: 0;
      -ms-transform-origin: 0;
      -o-transform-origin: 0;
      transform-origin: 0;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      background: url("../images/icon/chevron-down-blue.png") 0 0/100% 100% no-repeat; }
    .filter-panel .nice-select.select-transparent.open:after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .filter-panel .nice-select.select-transparent .list {
      margin: 0;
      border-radius: 0;
      width: 100%;
      background-color: #1c2035;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .filter-panel .nice-select.select-transparent .option:hover, .filter-panel .nice-select.select-transparent .option.focus, .filter-panel .nice-select.select-transparent .option.selected.focus {
      background-color: #131624; }
  .filter-panel .guest-display {
    position: relative;
    cursor: pointer; }
  .filter-panel .guest-dropdown-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: none; }
  .filter-panel .guest-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 400px;
    color: #fff;
    background-color: #1c2035;
    padding: 20px;
    font-size: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: none; }
    .filter-panel .guest-dropdown h5 {
      font-family: "Cormorant Garamond", serif;
      font-size: 12px; }
    .filter-panel .guest-dropdown .guest-select-group {
      margin-bottom: 15px; }
    .filter-panel .guest-dropdown .guest-select {
      display: inline-block;
      width: 25%; }
    .filter-panel .guest-dropdown .guest-select + .guest-select {
      margin-left: 20px; }
  .filter-panel .controller {
    padding: 28px 15px;
    text-align: center; }
    .filter-panel .controller .btn {
      width: 140px; }
  .filter-panel .incrementor {
    display: none; }

.picker-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1c2035;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); }

.date-picker-wrapper.hotel-calendar {
  position: static;
  font-family: "Work Sans", sans-serif;
  top: 100% !important;
  left: 0px !important;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: none; }
  .date-picker-wrapper.hotel-calendar .prev, .date-picker-wrapper.hotel-calendar .next {
    color: #fff; }
  .date-picker-wrapper.hotel-calendar .month-wrapper {
    background-color: transparent;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px; }
    .date-picker-wrapper.hotel-calendar .month-wrapper table {
      width: 320px !important; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table th, .date-picker-wrapper.hotel-calendar .month-wrapper table td {
        width: 14.2%; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .caption .next, .date-picker-wrapper.hotel-calendar .month-wrapper table .caption .prev {
        background-color: transparent;
        text-indent: -99999px;
        display: block; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .caption .prev {
        background: url("../images/icon/chevron-left-blue.png") center/auto 100% no-repeat; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .caption .next {
        background: url("../images/icon/chevron-right-blue.png") center/auto 100% no-repeat; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .month-name {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.5px; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .week-name th {
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        letter-spacing: 0.5px; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day {
        font-size: 14px;
        padding: 15px 0 16px;
        position: relative;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.real-today {
        background-color: transparent; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.invalid {
        color: #555; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.valid {
        color: #fff; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .date-circle, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.first-date-selected, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.last-date-selected, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.hovering:hover {
        position: relative;
        background-color: rgba(17, 152, 253, 0.2) !important; }
        .date-picker-wrapper.hotel-calendar .month-wrapper table .date-circle:before, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.first-date-selected:before, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.last-date-selected:before, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.hovering:hover:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          border-radius: 50%;
          border: 2px solid #1198FD; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .round-left, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.first-date-selected, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.start-of-month.hovering, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.start-of-month.checked, .date-picker-wrapper.hotel-calendar .month-wrapper table tr > td:first-child .day.toMonth {
        border-top-left-radius: 26px;
        border-bottom-left-radius: 26px; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .round-right, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.last-date-selected, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.hovering:hover, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.end-of-month.hovering, .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.end-of-month.checked, .date-picker-wrapper.hotel-calendar .month-wrapper table tr > td:last-child .day.toMonth {
        border-top-right-radius: 26px;
        border-bottom-right-radius: 26px; }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.hovering {
        background-color: rgba(17, 152, 253, 0.2); }
      .date-picker-wrapper.hotel-calendar .month-wrapper table .day.toMonth.checked {
        background-color: rgba(17, 152, 253, 0.2); }
  .date-picker-wrapper.hotel-calendar .event-date:after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #e74515;
    position: absolute;
    bottom: 6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .date-picker-wrapper.hotel-calendar .soldout-date {
    color: #555 !important; }
  .date-picker-wrapper.hotel-calendar[style*="display: none"] + .calendar-footer-panel {
    display: none; }

.calendar-footer-panel {
  display: block; }

.calendar-legend {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 5px;
  max-width: 100%;
  margin: 0 auto; }
  .calendar-legend .legend-item {
    text-align: center;
    color: #fff; }
  .calendar-legend .item {
    display: inline-block;
    width: 39px;
    height: 39px;
    line-height: 36.4px;
    position: relative;
    font-size: 14px;
    margin-bottom: 10px; }
  .calendar-legend .item-event:after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #e74515;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .calendar-legend .item-selected {
    border: 2px solid #1198FD;
    border-radius: 50%;
    font-weight: bold; }
  .calendar-legend .item-unavailable {
    color: #555; }
  .calendar-legend label {
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: 1; }

@media (max-width: 992px) {
  .short-picker {
    position: absolute;
    top: 65px;
    left: 10px;
    right: 10px;
    background-color: #1c2035;
    border: 1px solid #444;
    border-radius: 5px;
    color: #aaa;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .4;
    padding: 10px 30px 15px 10px;
    line-height: 1;
    text-transform: uppercase; }
    .short-picker:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 10px;
      width: 18px;
      height: 18px;
      background: url("../images/icon/icon-search.png") 0 0/100% 100% no-repeat; }
    .short-picker > div {
      display: inline-block; }
    .short-picker .selected-rooms:before,
    .short-picker .selected-guests:before {
      content: '.';
      font-size: 20px;
      margin: 0 5px;
      position: relative;
      top: -2px; }
    .short-picker .count {
      margin-right: 4px; }
  .filter-panel {
    display: none;
    position: fixed;
    background-color: #1c2035;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    margin: 0 !important;
    width: 100vw;
    height: auto; }
    .filter-panel .filter-item {
      padding-top: 10px;
      height: auto; }
    .filter-panel .down-arrow:after, .filter-panel .date-container:after, .filter-panel .guest-display:after,
    .filter-panel .date-container:after,
    .filter-panel .guest-display:after {
      content: none; }
    .filter-panel .group-calendar .label {
      display: none; }
    .filter-panel .drop-panel, .filter-panel .date-container, .filter-panel .nice-select.select-transparent, .filter-panel .guest-display, .filter-panel .date-container, .filter-panel .nice-select.select-transparent, .filter-panel .guest-display {
      height: auto;
      line-height: 1.3;
      padding: 0 10px; }
    .filter-panel .date-container {
      padding: 0; }
    .filter-panel .picker-container {
      position: relative; }
    .filter-panel .date-range {
      line-height: 2;
      height: 34px;
      padding: 0 10px 10px;
      border-bottom: 1px solid #444; }
    .filter-panel .selected-dates {
      font-size: 11px;
      letter-spacing: 0.4px; }
      .filter-panel .selected-dates span {
        font-size: 23px;
        line-height: 1; }
    .filter-panel .night-count {
      top: 15px; }
    .filter-panel .button-group {
      padding: 0 10px 15px; }
    .filter-panel .group-counter {
      display: none;
      padding-bottom: 30px; }
      .filter-panel .group-counter .label {
        width: 50%;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px; }
      .filter-panel .group-counter .filter-item {
        border: none; }
    .filter-panel .guest-counter .label, .filter-panel .guest-counter .guest-display {
      display: none; }
    .filter-panel .guest-dropdown {
      display: block;
      position: static;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }
      .filter-panel .guest-dropdown .guest-select {
        display: block;
        width: 100%;
        margin-bottom: 10px; }
        .filter-panel .guest-dropdown .guest-select p {
          display: inline-block;
          width: 50%; }
      .filter-panel .guest-dropdown .guest-select + .guest-select {
        margin-left: 0; }
      .filter-panel .guest-dropdown .children-group .guest-select {
        padding-left: 30px; }
      .filter-panel .guest-dropdown .children-group .nice-select {
        display: inline-block; }
      .filter-panel .guest-dropdown .children-group p {
        margin: 0; }
    .filter-panel .incrementor {
      display: inline-block; }
      .filter-panel .incrementor button {
        width: 25px;
        height: 25px;
        line-height: 21px;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 0;
        text-align: center;
        color: #fff;
        background-color: transparent;
        font-size: 20px;
        font-weight: 500;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .filter-panel .incrementor button.btn-dec:before {
          content: '-'; }
        .filter-panel .incrementor button.btn-inc:before {
          content: '+'; }
        .filter-panel .incrementor button.disabled {
          opacity: .25; }
      .filter-panel .incrementor input {
        background-color: transparent;
        color: #fff;
        border: none;
        width: 35px;
        height: 25px;
        font-size: 23px;
        line-height: 1;
        font-family: "Cormorant Garamond", serif;
        text-align: center;
        margin: 0 5px; }
  .filter-heading {
    padding: 10px; }
    .filter-heading .btn-back,
    .filter-heading .btn-reset {
      text-decoration: underline;
      font-size: 12px; }
    .filter-heading .btn-back {
      margin-right: 10px;
      display: none; }
    .filter-heading .btn-close {
      width: 20px;
      height: 20px;
      float: right;
      display: inline-block;
      background: url("../images/icon/icon-close.png") center center/12px 12px no-repeat; }
  .date-picker-wrapper.hotel-calendar .month-wrapper {
    padding: 10px 0; }
    .date-picker-wrapper.hotel-calendar .month-wrapper table .caption {
      height: auto; }
    .date-picker-wrapper.hotel-calendar .month-wrapper table td, .date-picker-wrapper.hotel-calendar .month-wrapper table th {
      line-height: 1.6; }
    .date-picker-wrapper.hotel-calendar .month-wrapper table .week-name th {
      padding-bottom: 0; }
  .calendar-legend {
    padding: 7px 5px;
    border-top: 1px solid #444; } }

.home .home-banner {
  position: relative;
  padding: 0; }
  .home .home-banner .bg-image {
    height: 100vh;
    background-size: cover;
    background-position: center; }
  .home .home-banner .caption {
    width: 380px;
    background-color: #1c2035;
    color: #fff;
    padding: 20px 42px;
    position: absolute;
    top: 52%;
    left: 0;
    font-size: 18px; }
  .home .home-banner h5 {
    font-weight: 600;
    font-size: 16px; }
  .home .home-banner img {
    width: 100%; }

.home .section-contact h3 {
  margin-bottom: 30px; }

.home .section-contact p {
  margin-bottom: 30px; }

@media (max-width: 992px) {
  .home .home-banner .bg-image {
    height: 76vh; }
  .home .home-banner .caption {
    max-width: 86vw;
    padding: 5px 10px;
    font-size: 15px; }
  .home .home-banner h5 {
    font-size: 13px; }
  .home .section-contact h3 {
    margin: 0 0 15px; }
  .home .section-contact p {
    margin-bottom: 15px; } }

.room-item {
  border: 1px solid #e0e0e0;
  border-bottom: 4px solid #0095FF;
  margin-bottom: 40px;
  position: relative; }
  .room-item.sold-out {
    border-bottom-color: #777; }
    .room-item.sold-out .status-tag {
      color: #777;
      border: 1px solid #777; }
  .room-item .block-main {
    width: 75%;
    padding: 0 15px; }
    @media (max-width: 767px) {
      .room-item .block-main {
        width: 100%; } }
  .room-item .padding-0 {
    padding: 0; }
  .room-item .img-container {
    margin: 0 -15px;
    position: relative; }
    .room-item .img-container:before {
      content: '';
      display: block;
      padding-top: 72.72727%; }
    .room-item .img-container > *:first-child {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden; }
    .room-item .img-container a {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #777;
      text-align: center;
      padding: 12px 8px; }
      .room-item .img-container a:hover {
        background-color: #555; }
  .room-item .img-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .room-item .icon-guest {
    margin-right: 5px; }
  .room-item .block-info {
    padding: 20px 5px 30px; }
  .room-item .title {
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .room-item .title {
        margin-bottom: 0px; } }
  .room-item .status-tag {
    margin-left: 20px;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 4px;
    position: relative;
    top: -3px;
    color: #0095FF;
    border: 1px solid #0095FF; }
  .room-item .block-price {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    padding: 20px 15px;
    background-color: rgba(0, 149, 255, 0.1); }
    @media (max-width: 767px) {
      .room-item .block-price {
        position: static;
        width: 100%; } }
  .room-item .price {
    font-size: 30px; }
    .room-item .price small {
      margin-left: 5px;
      font-size: 12px; }
  .room-item .expandable .shown-content {
    margin-bottom: 20px; }
    .room-item .expandable .shown-content:after {
      content: '...';
      display: block; }
    .room-item .expandable .shown-content.inline-content:after {
      display: inline; }
  .room-item .expandable .extension {
    display: none; }
  .room-item .expandable.expanding .extension {
    display: inline; }
  .room-item .expandable.expanding .shown-content:after {
    content: none; }

.msg-empty {
  text-align: center;
  color: rgba(28, 32, 53, 0.5);
  padding: 20px 0; }

.policy-collapse {
  margin-top: 30px;
  line-height: 30px; }

.panel-group .panel-info {
  margin-bottom: 20px; }
  .panel-group .panel-info .panel-title {
    font-size: 18px; }
  .panel-group .panel-info .panel-title > a {
    display: block;
    padding: 15px; }
    .panel-group .panel-info .panel-title > a:hover {
      color: #000; }
    .panel-group .panel-info .panel-title > a[data-toggle="collapse"] {
      padding-left: 56px; }
      .panel-group .panel-info .panel-title > a[data-toggle="collapse"]:after {
        right: auto;
        left: 20px;
        background: url("../images/icon/chevron-down-blue.png") 0 0/100% 100% no-repeat; }
  .panel-group .panel-info .panel-body {
    padding: 30px 20px;
    border: 1px solid #e0e0e0;
    border-top: 0; }

@media (min-width: 769px) {
  .not-desk {
    display: none; } }

@media (min-width: 768px) {
  .not-desk-body {
    display: none !important; } }

.float-right {
  float: right; }
  @media (max-width: 768px) {
    .float-right {
      padding-left: 15px !important; } }

@media (max-width: 767px) {
  .room-list .block-main .block {
    padding-bottom: 0px !important; } }

.room-list .block-price .mb-60 {
  margin-bottom: 30px !important; }

.p20 {
  padding: 20px; }

@media (max-width: 767px) {
  .policy:after {
    top: 5px !important;
    left: inherit !important;
    right: 10px; } }

.pr0 {
  padding-right: 0px !important; }

@media (max-width: 767px) {
  .has-toggle a.not-desk-body {
    padding-left: 56px;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #000 !important;
    font-weight: 600;
    display: block;
    letter-spacing: 1.5px; }
    .has-toggle a.not-desk-body.more-info {
      display: inline-block;
      padding-left: 0px;
      font-size: 14px;
      color: #0095FF !important;
      position: relative; }
      .has-toggle a.not-desk-body.more-info:after {
        position: absolute;
        top: 0;
        right: 15px;
        left: inherit;
        background: url(../images/icon/chevron-right-blue.png) 0 0/100% 100% no-repeat;
        display: block;
        width: 8px;
        height: 15px;
        transform: rotate(0deg); }
  .has-toggle a:after {
    left: 20px;
    top: 22px;
    background: url("../images/icon/chevron-down-blue.png") 0 0/100% 100% no-repeat; }
  .has-toggle a.no_prefix:after {
    background: none; } }

@media (max-width: 450px) {
  .full-width-btn {
    width: 100%; } }

@media (max-width: 767px) {
  .bg-white {
    background-color: #fff;
    display: block; } }

@media (max-width: 767px) {
  .has-border {
    border: 1px solid #e0d8d8; } }

.information-right {
  padding: 20px; }

.not-float .information-center {
  padding: 0 20px 20px; }

.float-left {
  float: left; }

@media (max-width: 768px) {
  .not-mb {
    display: none !important; } }

@media (max-width: 767px) {
  .not-mb-body {
    display: none !important; } }

.font-ws {
  font-family: "$font-worksans"; }

@media (max-width: 768px) {
  .has-mar-bot {
    margin-bottom: 10px; } }

.right-divider {
  border-right: 1px solid #e0e0e0; }

.panel {
  border-radius: 0; }
  .panel .panel-body {
    padding: 20px; }

.panel-info {
  border: none; }
  .panel-info > .panel-heading {
    color: #000;
    background-color: #E6F1FF;
    border: 0;
    border-bottom: 4px solid #0095FF;
    padding: 0;
    border-radius: 0; }

.panel-default.panel-rect {
  border-color: #e0e0e0;
  border-radius: 0;
  margin-bottom: 20px; }
  .panel-default.panel-rect .panel-body {
    padding: 20px; }

.nice-check-inline .nice-check-item {
  display: inline-block; }

.nice-check-inline .nice-check-item + .nice-check-item {
  margin-left: 50px; }

.panel-rsv-brief {
  -webkit-box-shadow: 1px 2px 4px rgba(85, 85, 85, 0.5);
  -moz-box-shadow: 1px 2px 4px rgba(85, 85, 85, 0.5);
  -ms-box-shadow: 1px 2px 4px rgba(85, 85, 85, 0.5);
  -o-box-shadow: 1px 2px 4px rgba(85, 85, 85, 0.5);
  box-shadow: 1px 2px 4px rgba(85, 85, 85, 0.5);
  background-color: #fff;
  margin-bottom: 20px; }
  .panel-rsv-brief h5 {
    margin-top: 0;
    margin-bottom: 0px; }
  .panel-rsv-brief .img-responsive {
    width: 100%; }
  .panel-rsv-brief hr {
    margin-top: 10px;
    margin-bottom: 10px; }
  @media (max-width: 768px) {
    .panel-rsv-brief .tbl-info {
      margin-top: 20px; } }

.hide-nha {
  display: none !important; }

.tbl-info td:first-child {
  padding-right: 50px; }

.tbl-info .split-sm td {
  padding-bottom: 3px; }

.tbl-info .split td {
  padding-bottom: 20px; }

.center-slash {
  display: inline-block;
  width: auto;
  line-height: 30px; }

.icon-visa,
.icon-cvv {
  height: 30px; }

.tbl-price {
  width: 100%;
  margin-bottom: 15px; }
  .tbl-price td, .tbl-price th {
    width: 50%; }
    .tbl-price td:last-child, .tbl-price th:last-child {
      text-align: right; }
  .tbl-price.tbl-sub {
    font-size: 12px; }

.panel.panel-transparent {
  border: none;
  border-radius: 0;
  background-color: transparent; }

.tbl-addr {
  line-height: 2; }
  .tbl-addr th:first-child, .tbl-addr td:first-child {
    padding-right: 30px; }
  .tbl-addr th a, .tbl-addr td a {
    word-break: break-all; }

.cancel-date {
  padding: 20px 0; }
  .cancel-date table tbody th {
    padding-right: 40px; }

.no-list-style {
  padding-left: 0px; }
  .no-list-style li {
    list-style-type: none; }

.hotel-info-wrap, .includesblock {
  padding: 0; }
  @media (max-width: 767px) {
    .hotel-info-wrap, .includesblock {
      padding: 20px; } }
