/// <reference path="../globals/_scut.scss" />
/// <reference path="../globals/_variables.scss" />
.icon {
  display: inline-block;
  &.icon-arrow-down {
    width: 15px;
    height: 8px;
    @include bgImage('../images/icon/chevron-down.png', 0 0, 100% 100%);
  }
  &.icon-zoomin {
    width: 15px;
    height: 15px;
    @include bgImage('../images/icon/icon-search.png', 0 0, 100% 100%);
  }
  &.icon-guest {
    width: 11px;
    height: 10px;
    @include bgImage('../images/icon/icon-guest.png', 0 0, 100% 100%);
  }
}


.btn {
  @include transition();
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 15px;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
}

.control-group {
  .btn {
    min-width: 130px;
  }
  .btn + .btn {
    margin-left: 15px;
  }
}

.btn-info {
  background-color: $color-info;
  border: none;
  &:hover,
  &:active,
  &:hover:active,
  &:focus {
    background-color: $color-info-darker;
  }
  
}

.btn-info-bordered {
  background-color: transparent;
  border: 1px solid $color-info;
  color: $color-info;
  &:hover,
  &:active,
  &:hover:active,
  &:focus {
    background-color: $color-info;
    color: #fff;
  }
}

.btn-gray {
  background-color: $color-default;
  color: #fff;
  border: none;
  &:hover,
  &:active,
  &:hover:active,
  &:focus {
    background-color: $color-default-darker;
    color: #fff;
  }
}

.text-default {
  color: $color-default;
}
.text-info {
  color: $color-info;
}
.fw-600 {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}

a {
  color: $color-info;
  @include transition();
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $color-info-darker;
  }
}

.font-13 {
  font-size: 13px;
}

.text-cormo {
  font-family: $font-cormorant;
  // padding: 20px ;
}
.title-p20 {
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  &.text-cormo {
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}

h5 {
  font-size: 12px;
}

table {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.4;
}

.nice-select.select-white {
  color: #000;
  // border: none;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 40px;
  float: none;
  border-radius: $formRadius;
  @include prefix(box-shadow, 0 2px 3px rgba(#e0e0e0, .5) inset);
  &:after {
    width: 14px;
    height: 9px;
    // top: 40%;
    right: 8px;
    border: none;
    @include prefix(transform-origin, 0);
    @include prefix(transform, none);
    @include bgImage('../images/icon/chevron-down.png', 0 0, 100% 100%);
  }
  .option.selected {
    font-weight: 500;
  }
  .list {
    width: 100%;
  }
}

.form-inline {
  label {
    font-weight: normal;
  }
  .nice-select.select-white {
    min-width: 220px;
    display: inline-block;
  }
}

.form-horizontal.form-left {
  padding-right: 40px;
  @media (max-width: 768px){
    padding-right: 0px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .control-label {
    font-weight: 400;
    text-align: left;
  }
  .input-mix {
    position: relative;
  }
  .placeholder-right {
    .form-control {
      padding-right: 70px;
    }
    span {
      font-size: 10px;
      @extend .vertical-center;
      right: 15px;
      color: $color-default;
    }
  }
  .form-control {
    padding: 6px 7px;
  }
  // .placeholder-right {
  //   &::-webkit-input-placeholder { 
  //     text-align: right;
  //   }
  //   &:-moz-placeholder { 
  //     text-align: right;
  //   }
  //   &::-moz-placeholder {
  //     text-align: right;
  //   }
  //   &:-ms-input-placeholder {
  //     text-align: right;
  //   }
  // }
}
.form-control {
  border-radius: $formRadius;
  border: 1px solid #e0e0e0;
  color: #333;
  @include prefix(box-shadow, 0 2px 3px rgba(#e0e0e0, .5) inset);
}

input.form-control {
  height: 30px;
}